@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
	background: #FFFFDF;
	font-family: "Roboto Condensed";
	font-size: 14px;
}

#logo {
	padding: 0px 0px 0px 574px;
}

#categories {
	font-size: 110%;
}

#categories h3 {
	margin-left: 20px;
}

#login {
	float: right;
}

#title {
	padding: 0px 0px 0px 550px;
}

#title h1 {
	font-size: 300%;
}

#title h3 {
	padding: 0px 0px 0px 30px;
	font-size: 150%;
}

.box {
	padding: 0px 30px 20px 30px;
}

#news {
	/*
	float: right;
	width: 860px;
	*/
}

#news1 {
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	font-family: 1.1em "Times New Roman", serif ;
}

#news1 h1 {
	font-size: 300%;
}

#text {
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 130%;
}